{% extends 'layout.html.twig' %}

{% block title %}
    {{ parent() }} - Détails
{% endblock %}

{% block content %}
    <h1>Détails de la page</h1>
    <p>Voici quelques informations complémentaires.</p>
{% endblock %}